<h3>Hello <%= @invitee %>,</h3><br>
<h4><%= @inviter %> has invited you to join Brownfield of Dreams. You can create an account <%= link_to 'here', "https://heroku.com/apps/brownfield-stella-mills/register" %>.</h4>
